body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    touch-action: none;
    -webkit-user-select: none;
}

:root {
    --black: #432E54;
    --navy: #4B4376;
    --maroon: #AE445A;
    --peach: #E8BCB9;
}

.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}

#sketch-holder {
    z-index: -1;
    position: absolute;
}

#game-overlay {
    padding: 1rem;
    color: var(--peach);
}

#game-over {
    background: var(--peach);
    color: var(--black);
    height: 100vh;
    text-align: center;
    padding: 3rem;
}

h1 {
    text-align: center;
    padding: 0;
    font-size: 3rem;
    font-family: "Pacifico", serif;
}

.score-container {
    font-family: "Pacifico", serif;
    font-size: 1.5rem;
}

.social {
    max-width: 300px;
    font-family: "Pacifico", serif;
    margin: auto;
    margin-top: 2rem;
}

.social img {
    height: 1rem;
}

.social a {
    color: var(--navy);
    text-decoration: none;
}
.social a:hover {
    color: var(--maroon)
}